body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1.title {
  text-align: center;
  font-size: 4rem;
}

article {
  padding: 0 15rem;
}
article > div {
  margin-bottom: 2rem;
}
article > div > h1 {
  background-color: rgb(19, 148, 187);
}
.prev,
.next {
  background-color: aquamarine;
  padding: 0.6rem 0.75rem;
}

.disabled {
  background-color: rgb(153, 144, 144);
  color: black;
}
.activated {
  background-color: burlywood;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}
.page-number {
  border-radius: 50%;
  padding: 0.6rem 0.75rem;
  margin: 0 0.4rem;
  outline: none;
}
